In [40]:
library(SingleCellExperiment)

first_n_genes = 10
first_n_cells = 10

lcounts <- matrix(rpois(100, lambda = 10), 
                  ncol=first_n_cells, nrow=first_n_genes)

rownames(lcounts) <- paste("gene", 1:first_n_genes, sep = "")
colnames(lcounts) <- paste("cell", 1:first_n_cells, sep = "")

sce <- SingleCellExperiment(
    assays = list(counts = lcounts),
    rowData = data.frame(
        gene_names = paste("gene_name", 1:first_n_genes, sep = "")),
    colData = data.frame(
        cell_names = paste("cell_name", 1:first_n_cells, sep = ""))
)
head(counts(sce))

      cell1 cell2 cell3 cell4 cell5 cell6 cell7 cell8 cell9 cell10
gene1 20     5     9     8    13    14    10     7    12    11
gene2 11    11    11     7    11    11    10    11    18     7
gene3 10     9     7    11     9     7    13     9    10    11
gene4  4     7    11    11    14     7    14    15    11    10
gene5 10     2    10    12     7    10    11     5    12     7
gene6  5     4    14    11    12    12     6     9    12     8

In [29]:
# Normalisation -- SCnorm

# SCnorm cannot be used on datasets with > 80% zero counts
# We should also check for the relationship between expression counts
#  and sequencing depth, so that if all genes have a similar relationship
#  then we can use a global normalisation strategy such as median-by-the-ratio
#  used in DESeq, TMM, or edgeR.
#library(SCnorm)

#countdepthEst <- plotCountDepth(Data = counts(sce))

# normcounts(sce) <- log2(counts(sce) + 1)

In [41]:
# Normalisation -- regular

normcounts(sce) <- log2(counts(sce) + 1)
head(normcounts(sce))

      cell1    cell2    cell3    cell4    cell5    cell6    cell7    cell8
gene1 4.392317 2.584963 3.321928 3.169925 3.807355 3.906891 3.459432 3.000000
gene2 3.584963 3.584963 3.584963 3.000000 3.584963 3.584963 3.459432 3.584963
gene3 3.459432 3.321928 3.000000 3.584963 3.321928 3.000000 3.807355 3.321928
gene4 2.321928 3.000000 3.584963 3.584963 3.906891 3.000000 3.906891 4.000000
gene5 3.459432 1.584963 3.459432 3.700440 3.000000 3.459432 3.584963 2.584963
gene6 2.584963 2.321928 3.906891 3.584963 3.700440 3.700440 2.807355 3.321928
      cell9    cell10
gene1 3.700440 3.584963
gene2 4.247928 3.000000
gene3 3.459432 3.584963
gene4 3.584963 3.459432
gene5 3.700440 3.000000
gene6 3.700440 3.169925